body {
    font-family:"Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    display: flex;
    flex-direction: column;
}


.content{
    display: flex;
    flex: 3;
}

header, .conainer {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    margin: 0 25%;
}

nav {
    display: flex;
    flex: 1;
    border-right: 1px solid #e4e4e4;
    margin-right: 24px;
}

ul{
    padding: 0;
}

li{
    display: block;
    padding: 8px;
    font-size: 16px;
}

li span {
    color: #0ea800;
}

li a{
    color: #212121;
    text-decoration: none;
}

li ul li {
    font-size: 14px;
}

.markdown-body{
    width: 100%;
}