<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">
<slot name="header"></slot>
</head>
<body>
    <header><h1>Simple Static</h1></header>
    <section class="conainer">
        <nav>
            <ul>
                <template loop="item of menu">
                    <menu-item name="{{item.name}}" href="{{item.href}}">
                        {{item.text}}
                        <slot name="submenu"></slot>
                    </menu-item>
                </template>
           </ul>
        </nav>
        <section>
            <slot name="content"></slot>
        </section>
    </section>
    <footer></footer>
</body>
</html>