<html>
<head>
<slot name="header"></slot>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header><h1>Simple Static</h1></header>
    <section class="conainer">
        <nav>
            <ul>
                <menu-item name="index" href="index.html">Home</menu-item>
                <menu-item name="about" href="about.html">About</menu-item>
                <menu-item name="contacts" href="contacts.html">Contacts</menu-item>
                <menu-item name="galary" href="galary.html">Galary</menu-item>
           </ul>
        </nav>
        <section>
            <slot name="content"></slot>
        </section>
    </section>
    <footer></footer>
</body>
</html>