<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <slot name="header"></slot>
</head>
<body>
    <site-header></site-header>
    <section class="container">
        <nav>
            <template loop="item of menu">
                <menu-item :name="item.name" :url="item.url">
                    {{ item.title }}
                </menu-item>
            </template>
        </nav>
        <article>
            <slot name="content"></slot>
        </article>
    </section>
    <site-footer></site-footer>
</body>
</html>